<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>Travel App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <h1>Travel App</h1>
    <div class="line"></div>
  </header>

  <main class="main">
    <form class="form">
      <div class="form-group">
        <label for="location">Destination</label>
        <input id="location" type="text" name="location" spellcheck=false autocorrect="off" autocomplete="off"
          autocapitalize="off">
        <strong class="warning" id="location-required">Destination is required</strong>
        <strong class="warning" id="system-error"></strong>
      </div>
      <div class="form-group">
        <label for="date">Arrival date</label>
        <input type="date" id="date" name="date">
        <strong class="warning" id="date-required">Date is required</strong>
      </div>
      <div class="form-group">
        <input class="submit" type="button" value="Get infomation" onclick="return Client.handleSubmit(event)">
      </div>
    </form>
    <section id="results" class="results">
      <div class="current-trip" id="current-trip">
        <div class="info">
          <div class="destination">
            <p>Destination</p>
            <p id="destination">...</p>
          </div>
          <div class="arrival-date">
            <p>Arrival date</p>
            <p id="arrival-date">...</p>
          </div>
        </div>
        <div class="weather-forecast">
          <div class="icon-weather">
            <img id="iconWeatherbitURL" src="https://www.weatherbit.io/static/img/icons/c01n.png" alt="icon weather">
          </div>

          <div class="temp">
            <p id="temp">...</p>
          </div>
          <div class="vertical">
            <p id="relativeHumidity">...</p>
            <p id="windSpeed">...</p>
            <p id="description">...</p>
          </div>
        </div>
        <div class="save-btn">
          <button onclick="return Client.saveTripFn(event)">Save trip</button>
        </div>
      </div>
    </section>
    <aside class="history">
      <h2>History destination:</h2>
      <div id="allTrips">
      </div>
    </aside>
  </main>
  <footer>
    <div class="line"></div>
    <h2>&copy Udacity</h2>
    <div class="line"></div>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', async function () {
      Client.setMinDate();
      Client.setMaxDate();
      Client.loadTrips();
      Client.autocomplete();
    });
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
          .then(function (reg) {
          }).catch(function (err) {
          });
      });
    }

  </script>
</body>

</html>