%main-content {
  border: 5px solid #fff;
  border-radius: 20px;
  padding: 20px;
}
.main {
  padding: 12px;
  grid-gap: 10px;
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "form history"
    "results history";
}
.form {
  grid-area: form;
  margin: 0;
  @extend %main-content;
}
.results {
  grid-area: results;
  @extend %main-content;
}
.history {
  grid-area: history;
  @extend %main-content;
}

.current-trip {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  .info {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    #destination,
    #arrival-date {
      font-size: 2rem;
    }
  }
  .weather-forecast {
    display: flex;
    .icon-weather {
      display: grid;
      place-items: center;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .temp {
      font-size: 2rem;
      display: flex;
      align-items: center;
    }
    .vertical {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 12px;
    }
  }
  .save-btn,
  .remove-btn {
    display: grid;
    place-items: center;
    button {
      height: 32px;
      border: none;
      border-radius: 10px;
      background-color: #fff;
      color: #000;
      margin-bottom: 13px;
      cursor: pointer;
    }
  }

  p {
    padding: 3px;
  }
}

#allTrips {
  max-height: 550px;
  overflow-y: auto;
  .current-trip + .current-trip {
    margin-top: 12px;
  }
  .current-trip {
    position: relative;
    overflow: hidden;
    &::before {
      content: " ";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
    & > * {
      position: relative;
      z-index: 1;
    }
  }
}

@media (max-width: 740px) {
  .main {
    grid-template-areas:
      "form form"
      "results results"
      "history history";
  }
}
